# Importing Datasets

In [2]:
import numpy as np
import pandas as pd

We are going to import the 3 csv files: Content, Reactions and Reaction Types.

In [4]:
content_df = pd.read_csv('Content.csv')
reactions_df = pd.read_csv('Reactions.csv')
reaction_types_df = pd.read_csv('ReactionTypes.csv')

Let's confirm that we have added all the required datasets successfully.

In [8]:
content_df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

We will encounter 2 datasets with the column "Type" but it's two different columns. Let's rename it to make it easier to navigate/understand.

In [11]:
content_df_cleaned = content_df.rename(columns={'Type': 'Content Type'})

In [13]:
content_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [15]:
reactions_df_cleaned = reactions_df.rename(columns={'Type': 'Reaction Type'})

In [17]:
reactions_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Reaction Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [19]:
reaction_types_df_cleaned = reaction_types_df.rename(columns={'Type': 'Reaction Type'})

In [21]:
reaction_types_df_cleaned.head()

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

# Remove Missing Variables

In [24]:
content_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [26]:
content_df_cleaned = content_df_cleaned.dropna()

In [28]:
content_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [30]:
reactions_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     25553 non-null  int64
 1   Content ID     25553 non-null  object
 2   User ID        22534 non-null  object
 3   Reaction Type  24573 non-null  object
 4   Datetime       25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [32]:
reactions_df_cleaned = reactions_df_cleaned.dropna()

In [34]:
reactions_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     22534 non-null  int64
 1   Content ID     22534 non-null  object
 2   User ID        22534 non-null  object
 3   Reaction Type  22534 non-null  object
 4   Datetime       22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [36]:
reaction_types_df_cleaned = reaction_types_df_cleaned.dropna()

In [38]:
reaction_types_df_cleaned

    Unnamed: 0 Reaction Type Sentiment  Score
0            0         heart  positive     60
1            1          want  positive     70
2            2       disgust  negative      0
3            3          hate  negative      5
4            4    interested  positive     30
5            5   indifferent   neutral     20
6            6          love  positive     65
7            7    super love  positive     75
8            8       cherish  positive     70
9            9         adore  positive     72
10          10          like  positive     50
11          11       dislike  negative     10
12          12     intrigued  positive     45
13          13       peeking   neutral     35
14          14        scared  negative     15
15          15       worried  negative     12

# Changing the data type of some values within a column

In [41]:
content_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    801 non-null    int64
 1   Content ID    801 non-null    object
 2   User ID       801 non-null    object
 3   Content Type  801 non-null    object
 4   Category      801 non-null    object
 5   URL           801 non-null    object
dtypes: int64(1), object(5)
memory usage: 43.8+ KB

I also noticed that there is 2 types of value represented in Category - with "" and without "", so let's fix that.

In [44]:
content_df_cleaned.loc[:, 'Category'] = content_df_cleaned['Category'].str.replace('"', '')

In [46]:
reactions_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     22534 non-null  int64
 1   Content ID     22534 non-null  object
 2   User ID        22534 non-null  object
 3   Reaction Type  22534 non-null  object
 4   Datetime       22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

We have a Datetime which is an object. We have to convert it to Datetime. Everything else looks good if we get rid of the unnamed columns (next step).

In [49]:
reactions_df_cleaned.loc[:, 'Datetime'] = pd.to_datetime(reactions_df_cleaned['Datetime'])

In [51]:
reactions_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     22534 non-null  int64
 1   Content ID     22534 non-null  object
 2   User ID        22534 non-null  object
 3   Reaction Type  22534 non-null  object
 4   Datetime       22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

We have fixed the Datetime.

In [54]:
reaction_types_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     16 non-null     int64
 1   Reaction Type  16 non-null     object
 2   Sentiment      16 non-null     object
 3   Score          16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

Good work! Now we can move to getting rid of columns that are irrelevant!

# Remove Columns

In [58]:
content_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [60]:
content_df_new = content_df_cleaned.drop(columns=['Unnamed: 0', 'User ID','URL'])

In [62]:
content_df_new.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

We only need Type and Category as the other data is irrelevant and some may cause a privacy concern. We also need User ID to connect with Reactions Dataframe.

In [65]:
reactions_df_cleaned.head()

,Unnamed: 0,Content ID,User ID,Reaction Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

In [67]:
reactions_df_new = reactions_df_cleaned.drop(columns=['Unnamed: 0'])

In [69]:
reactions_df_new.head()

,Content ID,User ID,Reaction Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

We got rid of the Unnamed: 0, and Content ID. We use User ID to stay connected with Content and Type for Reaction Types.

In [72]:
reaction_types_df_cleaned.head()

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

In [74]:
reaction_types_df_new = reaction_types_df_cleaned.drop(columns=['Unnamed: 0'])

In [76]:
reaction_types_df_new.head()

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

Nothing to get rid of here, other than the Unnamed: 0

# Now lets save the 3 cleaned Datasets

In [82]:
content_df_new.to_csv('ContentCleaned.csv', index=False)

In [84]:
reactions_df_new.to_csv('ReactionsCleaned.csv', index=False)

In [86]:
reaction_types_df_new.to_csv('ReactionTypesCleaned.csv', index=False)

Great! Now we have 3 cleaned Datasets.