# Import Datasets

In [31]:
import pandas as pd

In [33]:
content_df_new = pd.read_csv('ContentCleaned.csv')
reactions_df_new = pd.read_csv('ReactionsCleaned.csv')
reaction_types_df_new = pd.read_csv('ReactionTypesCleaned.csv')

In [35]:
content_df_new.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

Let's start merging them using common columns - Content ID and Reaction Type

In [37]:
merged_df = pd.merge(content_df_new, reactions_df_new, on='Content ID')

In [39]:
merged_df.head()

,Content ID,Content Type,Category,User ID,Reaction Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

In [41]:
reaction_types_df_new

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [45]:
final_df = pd.merge(merged_df, reaction_types_df_new, on='Reaction Type')

In [47]:
final_df

,Content ID,Content Type,Category,User ID,Reaction Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,negative,0
...,...,...,...,...,...,...,...,...
18379,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,d51a3403-8bab-4d88-af4f-a429c6d8c168,adore,2020-10-04 22:26:33,positive,72
18380,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,3663e3e6-3d5c-4ed9-a6af-1e680ec5f34b,adore,2020-09-18 10:50:50,positive,72
18381,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,89572273-761e-46f3-8b99-1689d98aac90,adore,2020-10-31 03:58:44,positive,72
18382,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,7bf3ce80-784e-42a0-b06a-dbbd1e31a9b7,adore,2020-06-25 15:12:29,positive,72
18383,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,dcc6000c-ba92-472c-8bc1-9e9ca30b475b,adore,2020-12-17 16:32:57,positive,72

# Finding the top 5 performing category

In [52]:
top_5_categories = final_df.groupby('Category')['Score'].sum().nlargest(5)

In [54]:
top_5_categories

Category
travel            53935
science           53657
healthy eating    52745
animals           52443
cooking           49681
Name: Score, dtype: int64

In [58]:
content_type_counts = final_df['Content Type'].value_counts().nlargest(5)

In [60]:
content_type_counts

Content Type
photo    5006
video    4637
GIF      4465
audio    4276
Name: count, dtype: int64

In [62]:
content_type_counts = final_df['Reaction Type'].value_counts().nlargest(5)

In [64]:
content_type_counts

Reaction Type
heart          1225
scared         1174
interested     1169
indifferent    1167
super love     1167
Name: count, dtype: int64

In [56]:
final_df.to_csv('FinalDataset.csv', index=False)